* {
    padding: 0;
    margin: 0;
}

.btn button {
    background-color: #1D4ED8;
    padding: 10px 18px;
    border-radius: 12px;
    border: none;
    color: #FFFFFF;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 18px 8%;
    background-color: #FFFFFF;
}

.nav-img {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav-img {
    display: flex;
    align-items: center;
    gap: 0px;
}

.nav-img img {
    height: 40px;
    object-fit: contain;
}

.name{
    margin-top: 100px;
}

.nav-img h1 {
    font-size: 1.1rem;
    line-height: 1.1;
    font-family: sans-serif;



}

/* main style start */

.main-part {
    background-image:url("./assets/banner.jpg");
    min-height: 80vh;
    padding: 80px 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: grid; */
    justify-content:space-between;
    align-items: center;
    text-align: center;
}

.main-part ,p,h1{
    color: #FFFFFF;
    /* align-items: center; */
   align-items: center;
}